html {
 background-color: rgb(55,55,55);
}
p {
 color: rgb(240,240,240);
 font-family: 'Rubik', sans-serif;
}
.header a {
 font-family: 'Rubik', sans-serif;
 border-style: outset;
 color: rgb(0,0,0);
 background-color: rgb(210,210,210);
 border-color: rgb(225,225,225);
}
h1 {
 font-family: 'Rubik', sans-serif;
 
}
h4 {
 font-family: 'Rubik', sans-serif;
 border-style: outset;
 background-color: rgb(210,210,210);
 border-color: rgb(225,225,225);
}
img {
width: 64px;
height: 64px;
}
.dropdown {
 position: absolute;
 top: -16px;
 left: 155px;

}
.dropdowncontent {
 display: none;
 position: absolute;
 top:  46px;
 left: 0px;
}
.dropdowncontent a {
  display: block;
}
.dropdown:hover .dropdowncontent {
 display: block;
}
@-webkit-keyframes rainbowFade {
    00.00% {color: rgb(255, 0, 0);}
	16.66% {color: rgb(255, 165, 0);}
    33.33% {color: rgb(255, 255, 0);}
    50.00% {color: rgb(0, 255, 0);}
    66.66% {color: rgb(0, 0, 255);}
    83.33% {color: rgb(255, 0, 255);}
    100.0% {color: rgb(255, 0, 0);}
}
@keyframes rainbowFade {
    00.00% {color: rgb(255, 0, 0);}
	16.66% {color: rgb(255, 165, 0);}
    33.33% {color: rgb(255, 255, 0);}
    50.00% {color: rgb(0, 255, 0);}
    66.66% {color: rgb(0, 0, 255);}
    83.33% {color: rgb(255, 0, 255);}
    100.0% {color: rgb(255, 0, 0);}
}
.rainbowFade {
    -webkit-animation: 3s linear infinite;
    animation: rainbowFade 3s linear infinite;
}

