html {
	background-image:url("../Resources/hakaiplant.jpg")
}
.header p {
 	color: rgb(240,240,240);
 	font-family: 'Rubik', sans-serif;
}
.header a {
 	font-family: 'Rubik', sans-serif;
 	color:antiquewhite;
 	text-decoration: none;
 	outline-color:rgb(87,87,87);
 	outline-style:solid;
 	outline-width:thin;
 	background-color:(225,225,225);
}	
h2 {
 	font-family: 'Rubik', sans-serif;
}
.dropdown {
 	text-decoration: none;
 	outline-color:rgba(0,0,0,0.00);
 	outline-style:solid;
 	outline-width:thin;
 	position: absolute;
 	top: -16px;
 	left: 140px;
 	letter-spacing: 2px;	
}
.dropdowncontent {
	display: none;
	position: absolute;
	top:  43px;
	left: 0px;
	letter-spacing: 0px;
}
.dropdowncontent a {
	display: block;
}
.dropdown:hover .dropdowncontent {
	display: block;
}
body h2 {
	color:antiquewhite;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-display: block;
	letter-spacing: 1px;
	position:static;
	text-align: center;
}
body p {
	color:antiquewhite;
	font-family: Arial, Helvetica, sans-serif;

}
body h1 {
	color:antiquewhite;
	font-family: Arial, Helvetica, sans-serif;
	font-display: block;
	letter-spacing: 2px;
	position:static;
	font-size:50px;
	text-align: left;
}
.header h1 {
	text-align: center;
}
.safetycontent {
	display: none;
	position: absolute;
	top:  43px;
	left: 0px;
	letter-spacing: 0px;
	transition: 0s, 180s;
}
.safetycontent p {
	color:black;
	text-indent: 3px;
	text-align: left;
	display: block;
	line-height: 10px;
}
.safety:hover .safetycontent {
	display: block;
	position: absolute;
	top: 865px;
	left: 150px;
	transition: 0s;
}
.safety {
	height: 250px;
}
.sustaincontent {
	display: none;
	position: absolute;
	top:  43px;
	left: 0px;
	letter-spacing: 0px;
}
.sustaincontent p {
	text-align: left;
	display: block;
	line-height: 10px;
}
.sustain:hover .sustaincontent {
	display: block;
	position: absolute;
	top: 500px;
	left: 10px;
}
.sustain {
	height: 250px;
}
.efficiencycontent {
	display: none;
	position: absolute;
	top:  43px;
	left: 0px;
	letter-spacing: 0px;
}
.efficiencycontent p {
	text-align: left;
	display: block;
	line-height: 10px;
}
.efficiency:hover .efficiencycontent {
	display: block;
	position: absolute;
	top: 500px;
	left: 10px;
}
.efficiency {
	height: 250px;
}
.climate{
	text-align: center;
}