.text{
	background-color: rgba(0,0,0,0.30);
}
html {
	background-image:url("../Resources/greenplants.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
p {
 	color: antiquewhite;
 	font-family: 'Rubik', sans-serif;
}
.header {
	height: 65px;
}
.header a {
 	font-family: 'Rubik', sans-serif;
 	color:antiquewhite;
 	text-decoration: none;
 	outline-color:rgb(87,87,87);
 	outline-style:solid;
 	outline-width:thin;
 	background-color:(225,225,225);
}
h1 {
 	font-family: 'Rubik', sans-serif;
}	
h2 {
 	font-family: 'Rubik', sans-serif;
}
.dropdown {
 	text-decoration: none;
 	outline-color:rgba(0,0,0,0.00);
 	outline-style:solid;
 	outline-width:thin;
 	position: absolute;
 	top: -16px;
 	left: 140px;
 	letter-spacing: 2px;
}
.dropdowncontent {
	display: none;
	position: absolute;
	top:  43px;
	left: 0px;
	letter-spacing: 0px;
}
.dropdowncontent a {
	display: block;
}
.dropdown:hover .dropdowncontent {
	display: block;
}
.flyash{
	position:relative;
	text-align: center;
	font-size: 19px;
}
#risk{
	font-size: 30px;
}
.produce{
	display: none;
}